@model int
<div class="card bg-light mt-3">
    <div class="card-body p-2">
        <p class="card-text"> There are @Model restaurants here. <a asp-page="/Restaurants/List">See them all!</a></p>     
    </div>   
</div>