@page
@model OdeToFood.Pages.Restaurants.ListModel
@{
    ViewData["Title"] = "Restaurants";
}

<h1>Restaurants</h1>

<form method="get">
    <div class="form-group">
        <div class="input-group">

            <input type="search" class="form-control" asp-for="SearchTerm" />
            <div class="input-group-append">
                <button class="btn input-group-text" type="button"> <i class="bi bi-search"></i></button>
            </div>

        </div>
    </div>
</form>

@foreach (var restaurant in Model.Restaurants)
{
    <partial name="_Summary" model="restaurant" />
    <br />
}



<a class="btn btn-primary" asp-page="./Edit">Add New</a>



@section footer {
    <div>
        @Model.Message
    </div>
}




